<div class="bg-indigo-600 px-4 py-3 text-white">
    <p class="text-center text-sm font-medium">
      Love techspire services?
      <a href="#" class="inline-block underline">Check out our services</a>
    </p>
  </div>
  <header class="bg-white p-4 shadow-lg sticky top-0 z-50">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo / Title with Image -->
      <a href="/" class="flex items-center space-x-3 cursor-pointer">
        <img
          src="logo.png"
          alt="Logo"
          class="w-10 h-10 object-cover rounded-full"
        />
        <h2 class="text-[#161e3c] text-2xl font-bold">Techspire</h2>
      </a>
  
      <!-- Navigation Links -->
      <nav> 
        <ul class="flex space-x-6 text-lg font-medium">
          <li>
            <a
              href="/"
              class="text-[#161e3c] hover:text-[#0066cc] hover:underline hover:scale-105 transform transition duration-300 ease-in-out"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="text-[#161e3c] hover:text-[#0066cc] hover:underline hover:scale-105 transform transition duration-300 ease-in-out"
              >About</a
            >
          </li>
          <li>
            <a
              href="/services"
              class="text-[#161e3c] hover:text-[#0066cc] hover:underline hover:scale-105 transform transition duration-300 ease-in-out"
              >Services</a
            >
          </li>
          <li>
            <a
              href="/contact"
              class="text-[#161e3c] hover:text-[#0066cc] hover:underline hover:scale-105 transform transition duration-300 ease-in-out"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
  
      <!-- Login Button -->
      <a
        href="/login"
        class="bg-[#161e3c] text-white py-2 px-4 rounded-lg hover:bg-[#005bb5] hover:scale-105 transform transition duration-300 ease-in-out shadow-md hover:shadow-xl"
      >
        Login
      </a>
    </div>
  </header>
  