<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <aside
      class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6"
    >
      <img
        alt="Contact us background"
        src="https://img.freepik.com/free-vector/social-media-news-tips-abstract-concept-illustration-social-media-marketing-algorithm-news-promote-profile-engagement-tips-latest-updates-content-advice_335657-1249.jpg"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </aside>

    <main
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        <a href="/" class="flex items-center space-x-3 cursor-pointer">
          <img
            src="logo.png"
            alt="Logo"
            class="w-10 h-10 object-cover rounded-full"
          />
          <h2 class="text-[#161e3c] text-2xl font-bold">Techspire</h2>
        </a>

        <h1
          class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
        >
          Get in Touch
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          We'd love to hear from you! Whether you have a question, feedback, or
          just want to say hi, feel free to drop us a message.
        </p>

        <div class="col-span-1 sm:col-span-3">
          <div
            *ngIf="submitSignal() === false && errorSignal() === false"
            class="mt-4 text-green-600"
          >
            <p>
              Your message has been sent successfully! We'll get back to you
              soon.
            </p>
          </div>

          <div *ngIf="errorSignal()" class="mt-4 text-red-600">
            <p>
              There was an error submitting your message. Please try again
              later.
            </p>
          </div>
        </div>

        <form
          (ngSubmit)="submitContactForm($event)"
          [formGroup]="contactForm"
          class="mt-8 grid grid-cols-6 gap-6"
        >
          <div class="col-span-6 sm:col-span-3">
            <label
              for="FirstName"
              class="block text-sm font-medium text-gray-700"
            >
              First Name
            </label>

            <input
              type="text"
              id="FirstName"
              formControlName="firstName"
              placeholder="Your first name"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md bg-white text-sm text-gray-700 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium text-gray-700"
            >
              Last Name
            </label>

            <input
              type="text"
              id="LastName"
              formControlName="lastName"
              placeholder="Your last name"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md bg-white text-sm text-gray-700 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700">
              Email
            </label>

            <input
              type="email"
              id="Email"
              formControlName="email"
              placeholder="Your email"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md bg-white text-sm text-gray-700 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            />
          </div>

          <div class="col-span-6">
            <label
              for="Message"
              class="block text-sm font-medium text-gray-700"
            >
              Message
            </label>

            <textarea
              id="Message"
              formControlName="message"
              placeholder="Write your message here..."
              rows="4"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md bg-white text-sm text-gray-700 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            ></textarea>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              type="submit"
              class="inline-block shrink-0 rounded-md border border-[#161e3c] bg-[#161e3c] px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-[#161e3c] focus:outline-none focus:ring active:text-blue-500"
            >
              Send Message
            </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Need immediate assistance? Email us at
              <a
                href="mailto:support@techspire.com"
                class="text-blue-600 underline"
                >support&#64;techspire.com</a
              >.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>
