<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <aside
      class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6"
    >
      <img
        alt=""
        src="https://img.freepik.com/free-vector/illustration-postponed-concept-with-person-checking-devices_23-2148510059.jpg?semt=ais_hybrid"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </aside>

    <main
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        <a href="/" class="flex items-center space-x-3 cursor-pointer">
          <img
            src="logo.png"
            alt="Logo"
            class="w-10 h-10 object-cover rounded-full"
          />
          <h2 class="text-[#161e3c] text-2xl font-bold">Techspire</h2>
        </a>

        <h1
          class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
        >
          Welcome 🦑
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam
          dolorum aliquam, quibusdam aperiam voluptatum.
        </p>

        <!-- Success Message -->
        <div
          *ngIf="submitSignal() === false && errorSignal() === false"
          class="text-green-600 mt-4"
        >
          Registration successful! You can now log in.
        </div>

        <!-- Error Message -->
        <div *ngIf="errorSignal()" class="text-red-600 mt-4">
          There was an error with your registration. Please try again later.
        </div>

        <form
          (ngSubmit)="submitSignUpForm($event)"
          [formGroup]="signUpForm"
          class="mt-8 grid grid-cols-6 gap-6"
        >
          <div class="col-span-6 sm:col-span-3">
            <label
              for="FirstName"
              class="block text-sm font-medium text-gray-700"
            >
              First Name
            </label>
            <input
              type="text"
              id="FirstName"
              formControlName="firstName"
              placeholder="First Name"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium text-gray-700"
            >
              Last Name
            </label>
            <input
              type="text"
              id="LastName"
              formControlName="lastName"
              placeholder="Last Name"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700">
              Email
            </label>
            <input
              type="email"
              id="Email"
              formControlName="email"
              placeholder="Email"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="Password"
              class="block text-sm font-medium text-gray-700"
            >
              Password
            </label>
            <input
              type="password"
              id="Password"
              formControlName="password"
              placeholder="Password"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="ConfirmPassword"
              class="block text-sm font-medium text-gray-700"
            >
              Confirm Password
            </label>
            <input
              type="password"
              id="ConfirmPassword"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              class="mt-1 w-full py-2 pl-2 border border-gray-300 rounded-md shadow-sm"
            />
          </div>

          <div class="col-span-6">
            <label for="MarketingAccept" class="flex gap-4">
              <input
                type="checkbox"
                id="MarketingAccept"
                formControlName="marketingAccept"
                class="rounded-md border-gray-300 shadow-sm"
              />
              <span class="text-sm text-gray-700">
                I want to receive emails about updates and announcements.
              </span>
            </label>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              type="submit"
              class="inline-block rounded-md border bg-[#161e3c] px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-[#161e3c] transition"
            >
              Create Account
            </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a href="/login" class="underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>
